{% include "main.html" %}

{% block content %}

<div class="container card profile-card mx-auto">
    <div class="row pt-2">
        <h4 class="card-title">Вы действительно хотите удалить {{ movie.title }}?</h4>
    </div>
    <div class="row pb-3">
        <form action="" method="post">
            {% csrf_token %}
            <a class="btn edit-btn me-2" href="{% url 'account' %}" role="button">
                <i class="fa-solid fa-chevron-left"></i> Назад
            </a>
            <button type="submit" class="btn btn-danger">
                <i class="fa-solid fa-trash-can"></i> Удалить
            </button> 
        </form>
    </div>
</div>

{% endblock content %}