{% load static %}

{% include "main.html" %}

{% block content %}

{% for movie in movies %}

<div class="container card movie-card mx-auto mb-2">
    <div class="row py-2">
        <div class="col-auto">
            <img src="{{ movie.owner.profile_image.url }}" class="avatar-img-sm">
        </div>
        <div class="col ps-0">
            <p class="card-text">{{ movie.owner.username }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="{{ movie.poster_url }}" class="rounded movie-card-poster">
            <div class="row py-0">
                <form action="" method="post" class="col-auto my-auto px-0">
                    {% csrf_token %}

                    {% if request.user.profile.id in movie.users_liked %}
                        <button type="submit" class="btn card-button" name="{{ movie.title }}">
                            <i class="fa-solid fa-heart fa-xl card-button"></i>
                        </button>
                    {% else %}
                        <button type="submit" class="btn card-button" name="{{ movie.title }}">
                            <i class="fa-regular fa-heart fa-xl card-button"></i>
                        </button>
                    {% endif %}
    
                </form>
                <div class="col-auto my-auto ps-0">
                    <a href="#"><i class="fa-regular fa-message fa-xl card-button"></i></a>
                </div>
            </div>            
        </div>
        <div class="col-8">
            <a href="{% url 'movie' movie.id %}" class="card-link text-decoration-none">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text"><strong>Рейтинг: </strong>{{ movie.user_rating }}</p>
                <p class="card-text"><strong>Обзор: </strong>{{ movie.user_review }}</p>
            </a>
        </div>
    </div>
    <div class="row pb-2">
        <a href="{% url 'likes' movie.id %}" class="card-link text-decoration-none"><strong>Нравится: </strong>{{ movie.get_likes }}</a>
        <p class="card-subtitle">Показать все комментарии (71)</p>
    </div>
</div>

{% endfor %}

{% endblock content %}