{% load static %}

{% include "main.html" %}

{% block content %}

<div class="container card movie-card mx-auto my-2">
    <div class="row">
        <div class="col">
            <div class="row">
                <p class="card-text pt-2 ms-3">{{ movie.owner.username }}</p>
            </div>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-4">
            <img src="{{ movie.poster_url }}" class="img-fluid rounded movie-card-poster mx-3 mt-3">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text"><strong>Рейтинг: </strong>{{ movie.user_rating }}</p>
                <p class="card-text"><strong>Нравится: </strong>56</p>
                <p class="card-text"><strong>Обзор: </strong>{{ movie.description }}</p>
                <a href="#"><i class="fa-regular fa-heart fa-xl card-button"></i></a>
                <a href="#"><i class="fa-regular fa-message fa-xl card-button"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}