{% include "main.html" %}

{% block content %}

<div class="container card movie-card">
    <div class="row p-2">
        <h4 class="card-title">Найти фильм</h4>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="movie-title" class="form-label">Название:</label>
                <input type="text" class="form-control" name="movie-title" id="movie-title" style="color: #0b666a;">
            </div>
            <button type="submit" class="btn auth-btn">
                Найти
            </button>
        </form>
    </div>
</div>

{% endblock content %}