{% include "main.html" %}

{% block content %}

<div class="container search-user mx-auto mb-3">
    <form action="" method="get">
        <div class="row">
            <div class="col-9">
                <input type="text" class="form-control search-user-input" style="color: #0b666a;" placeholder="Найти пользователя">
            </div>
            <div class="col-3">
                <button type="submit" class="btn search-user-btn">
                    <i class="fa-solid fa-magnifying-glass"></i> Найти
                </button>  
            </div>
        </div>
    </form>
</div>

{% for profile in profiles %}

<div class="container card search-user-card mx-auto my-1">
    <div class="row">
        <div class="col-1 my-auto">
            <img src="{{ profile.profile_image.url }}" class="avatar-img">
        </div>
        <div class="col-8 my-auto">
            <div class="card-body">
                <h5 class="card-title">{{ profile.username }}</h5>
                <p class="card-subtitle">{{ profile.name }}</p>
            </div>
        </div>
        <div class="col-3 my-auto">
            <a href="#" class="btn follow-btn">Подписаться</a>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}