{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg mb-3">
    <div class="container-fluid">
        <a href="{% url 'movies' %}">
            <img src="{% static 'images/nav-logo.png' %}" class="rounded-circle img-fluid mx-3 nav-logo">
        </a>
        <a class="navbar-brand" href="{% url 'movies' %}">Movie Base</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars fa-lg"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a 
                        class="nav-link{% if request.path == '/' %} link-active{% endif %}" 
                        href="{% url 'movies' %}"
                    >Лента</a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link{% if request.path == '/users/search/' %} link-active{% endif %}" 
                        href="{% url 'search' %}"
                    >Найти</a>
                </li>

                {% if request.user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="#">Уведомления</a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link {% if request.path == '/users/account/' %}link-active{% endif %}" 
                        href="{% url 'account' %}"
                    >Профиль</a>
                </li>
                
                {% else %}

                <li class="nav-item">
                    <a class="nav-link{% if request.path == '/users/login/' or request.path == '/users/register/' %} link-active{% endif %}" href="{% url 'login' %}">Войти/Регистрация</a>
                </li>

                {% endif %}

                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Администрирование</a>
                </li>
                {% endif %}

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket fa-lg"></i>  Выйти</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>


{% endblock content %}
