{% include "main.html" %}

{% block content %}

<div class="card container auth-card my-2">
    <div class="card-body">
        <h4 class="card-title">Сброс пароля завершен</h4>
        <p class="card-text">
            {% comment %} Ваш пароль успешно изменен, можете <a href="{% url 'login' %}" class="card-link">войти</a> в аккаунт. {% endcomment %}
            Ваш пароль успешно изменен, можете <a href="http://localhost:5173/" class="card-link">войти</a> в аккаунт.
        </p>
    </div>
</div>

{% endblock content %}