{% include "main.html" %}

{% block content %}



<div class="card container auth-card my-2">
    <div class="card-body">
        <h4 class="card-title">Сменить пароль</h4>
        <p class="card-text">Забыли пароль? Введите адрес электронной почты, и мы вышлем Вам инструкцию по смене пароля.</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">Электронная почта:</label>
                <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="form-control" style="color: #0b666a;">
            </div>
            <input class="btn auth-btn mb-3" type="submit" value="Сменить пароль">
        </form>
    </div>
</div>

{% endblock content %}