body {
  background-color: #c3edc0;
  margin: 0;
}

#page-navbar {
  background-color: #0b666a;
}

#mobile-menu {
  background-color: #0b666a;
}

.nav-link {
  color: #c3edc0;
}

.movie-card {
  background-color: #1b3333;
  color: #c3edc0;
}
